/* .App {
  text-align: center;
} */



.App-header {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 194vh;
  height: 10vh;
  margin-top: -10px;
}

