body {
  background-image: url("https://i.ytimg.com/vi/QGzDlGyNBbo/maxresdefault.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.Container{
  background-color: white;
  width: 194vh;
  height: auto;
}
/* Nav bar */
.Nav-bar{
  background-color: rgb(87, 81, 81);
  margin-top: -16px;
  height: 6vh;
}
a{
  text-decoration: none;
  transition: all;
  color: white;
  transition-duration: 0.5s;
  font-size: 30px;
  font-weight: bold;
}
a:hover{
  color: rgb(189, 169, 169);
}
li{
  list-style: none;
  text-transform: uppercase;
  font-style: bold;
}

ul{
  padding:10px 0vh 0px 10px;
  display:grid;
  grid-template-columns: 0.6fr repeat(3, 1fr);
  height: 8vh;
  color: white;

}


.Events-h3{
  cursor: pointer;
  text-transform: uppercase;
}
/* Durban July */
.Durban-july{
  margin: 0px 135vh 0px 5vh;
}
.Durban-july:hover{
  cursor: pointer;
}
.Durban-july>h4{
  margin: 0px 0px 10px 16vh;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;

}
.Durban-discription{
  text-align: center;
  cursor: pointer;
}

.Image-1 {
  height: 20vh;
  width: 25vh;
}
.Image-2 {
  height: 25vh;
  width: 50vh;
}
.Image-3 {
  height: 20vh;
  width: 25vh;
}
/* FreeState Wine show */
.Freestate-wine-show {
  margin: -30vh 64vh 0px 60vh;
  /* background-color: pink; */
}
.Freestate-wine-show:hover{
  cursor: pointer;
}
.Freestate-wine-show>h4 {
  margin-left: 20vh;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}
.Freestate-discription{
  text-align: center;
}
.Wine-1{
  height: 20vh;
  width: 30vh;
}
.Wine-2{
  width: 15vh;
  height: 20vh;
}
.wine-3{
  width: 65vh;
}
.wine-4 {
  height: 20vh;
  width: 20vh;
}
/* Afropunk */
.Afropunk{
  margin: -80vh 0px 0px 130vh;
}
.Afropunk:hover{
  cursor: pointer;
}
.Afropunk>h4{
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;

}
.Afro-description{
  text-align: center;
}
.Afro-1{
  height: 40vh;
  width: 60vh;
}
.Afro-2{
  height: 20vh;
  width: 30vh;
}
.Afro-3{
  height: 20vh;
  width: 30vh;
}
/* Mother City Querr Project */
.Mother-City-Queer-Project>h4{
  margin-left: 15vh;
  font-family: 'Oswald', sans-serif;

}
.Mother-City-Queer-Project:hover{
  cursor: pointer;
}
.Mother-discription{
  margin-left: 10vh;
}
.mcqp-1{
  width: 50vh;
  height: 20vh;
}
.mcqp-2{
  width: 60vh;
}
/* Cherry picking festival */
.Cherry-picking-festival{
  margin: -60vh 0px 0vh 65vh;
}
.Cherry-picking-festival{
  cursor: pointer;
}
.Cherry-picking-festival>h4{
  margin-left: 40vh;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;

}
.Cherry-discription{
  text-align: center;
}
.cherry-1{
  width: 70vh;
}
.cherry-2 {
  width: 44vh;
}
.cherry-3 {
  width: 80vh;
  margin-left: 18vh;
}
/* Form */
.Durban-form{
  margin: 0px 135vh 0px 5vh;
  background-color: inherit;
  height: 50vh;
  /* height: 10vh; */
}
.form>p{
  margin: 10px 0px 0px 50px;
}
.Form-container{
  margin: 10vh 0px 0px 12vh;
}
.Form-container>label{
  margin-left: 10vh;
}
.Form-container>input{
  font-size: medium;
  margin: 10px;
}
.Submit {
  margin: 1vh 0px 0px 20vh;
}

.Freestate-form{
  margin: -30vh 64vh 0px 60vh;
  height: 49.9vh;
}
.Afropunk-form{
  margin: -70vh 0px 0px 130vh;
  height: 58vh;
}
.Mother-city-form{
  height: 80vh;
}

.Cherry-form{
  margin: -50vh 0px 0vh 100vh;
}

/* Random classes */
.Get-Bookings{
  padding-top: 10vh;
}
.Get-Bookings>h1{
  text-align: center;
  margin-right: 155vh;
}
.Ticket-container{
  padding: 10px;
  margin-right: 155vh;
}
.Ticket-wrapper{
  padding: 10px;
  text-align: center;
}
